/* stylesheet */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    background-color: #1e1e1e;
    color: white;
    min-height: 100vh;
    overflow: hidden;

}

#mainpage {
    display: flex;
    flex-direction: row;
}
.box {
    border: 2px;
    border-color: white;
    border-style: solid;
}

#header {
    text-align: center;
    padding: 32px 0px;
    height: 10vh;
    font-size: 32px;
}

#mainbody {
    display: flex;
    
}

#categories {
    overflow-y: auto;
    flex: initial;
    height: 85vh;
    width: 25vh;
    margin-right: 25px;
    padding: 12px;
    text-align: center;



}

#cardbox {
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
    border: 2px;
    border-color: white;
    border-style: solid;
}

.card {
    border: 1px;
    border-style: solid;
    height: 200px;
    width: 300px;
    margin: 16px 32px;
}

#footer {
    margin-top: auto;
    text-align: center;
    height: 5vh;
    font-size: 16px;
}